@using SIGCOMT.DTO
@model List<ModuloDto>

<h5 class="leftpanel-title">Navigation</h5>
<ul class="nav nav-pills nav-stacked">
    
    @if (Model != null)
    {
        foreach (ModuloDto modulo in Model)
        {
            if (modulo.Operaciones.Any())
            {
                <li class="parent">
                    <a href=""><i class="fa fa-suitcase"></i> <span>@modulo.Nombre</span></a>
                    <ul class="children">
                        @foreach (OperacionDto operacion in modulo.Operaciones)
                        {
                            <li><a href="@operacion.Controlador">@operacion.Nombre</a></li>
                        }
                    </ul>
                </li>
            }
        }
    }
</ul>