.configuracion {
    height: 20px;
    width: 440px;
}

.alertas {
    height: 250px;
    width: 440px;
}

.panelAlertas {
    height: 355px;
    width: 455px;
}

#alertasContainer .ui-tabs-panel {
    height: 255px;
    overflow: auto;
}

#alertasToolTip {
    height: 350px;
}

#alertaHeader {
    float: left;
    width: 420px;
    text-align: center;
    font-size: 1.2em;
    vertical-align: middle;
	line-height: 20px;
}

#alertaSettings {
    float: left;
    width: 20px;
    cursor: pointer;
}






.headerAlerta {
    font-size: 14px;
    font-weight: bolder;
}

.tinnyText {
    font-size: 10px;
}

.alertaCumpleaños {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #696969;

    padding: 5px;
}

.birthday {
    width: 40px;
    height: 40px;
}

.iconContainer {
    float: right;
}

.dataContainer {
    float: left;
}