<div id="loginContent">
    <div class="logininfoblock">
        <div class="block-border border-shadow">
            <div class="block-content border-round dark-content" style="text-align:center;">
            </div>
        </div>
    </div>
    <div class="loginblock">
        <div class="block-border border-shadow">
            <div class="block-content border-round">
                
                    <p>Su cambio se realizó con éxito...</p>
                
            </div>
        </div>
    </div>        


<script type="text/javascript">
    $(document).ready(function () {
        var condition = 0;
        var check = function () {
            if (condition > 1) {
                KillTab();
            }
            else {
                setTimeout(check, 1000); // check again in a second
                condition++;
            }
        }

        check();
        
    });
</script>

</div>