@model OSSE.Web.Models.ResetModel

<div class="msgReset">
    <div class="tips loading">
        Por favor espere, procesando solicitud...
    </div>
    <div class="tips merror">
        msgError
    </div>
    <div class="tips mexito">
        msgExito
    </div>
</div>

@using (Html.BeginForm("Reset", "Account", new { area = "" }, FormMethod.Post, new { id = "frmReset" }))
{
    ViewContext.FormContext.ValidationSummaryId = "valSumReset";
    Html.ValidationSummary("Errores Encontrados", new Dictionary<string, object> { { "id", "valSumReset" }, { "class", "merror" } });
        
    <div>
        <table border="0" cellpadding="0" cellspacing="0" class="tablelayoutC">
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(model => model.Email, new { style="width:235px;", placeholder="Correo Electrónico"})
                    @Html.ValidationMessageFor(model => model.Email)
                </td>
                <td>
                    <input type="submit" class="buttonConstellation" id="btnReset" value="Enviar" />
                    <input type="reset" id="btnCancel" style="display: none;" />
                </td>
            </tr>
        </table>
    </div>
}

<script type="text/javascript">
    var resetFrmReset = false;
    $(document).ready(function () {

        $(".msgReset .tips").hide();
        $("#frmReset .merror").css({ "border-left": "none", "border-right": "none" });
        $('#btnReset').click(function (e) {
            if (resetFrmReset)
                $(".msgReset .tips").hide();

            if ($("#frmReset").validate().form()) {
                InicializarMsgReset();
                $.post($("#frmReset").attr("action"), $("#frmReset").serialize(), function (response) {
                    if (response.Success) {
                        $(".msgReset .loading").slideUp(200, function () {
                            $(".msgReset .mexito").html(response.Message);
                            $(".msgReset .mexito").show();
                            $(".loading").hide();
                            resetFrmReset = true;
                        });
                    }
                    else {
                        $(".msgReset .loading").slideUp(200, function () {
                            $(".msgReset .merror").html(response.Message);
                            $(".msgReset .merror").show();
                        });
                        resetFrmReset = true;
                    }
                });
            }
            e.preventDefault();
        });
    });

    function InicializarMsgReset() {
        $("#valSumModel").hide();
        if ($(".msgLogOn .merror").is(":visible")) {
            $(".msgLogOn .merror").slideUp(200, function () {
                $(".msgLogOn .loading").slideDown(200).animate({ opacity: 1 }, 300);
            });
        }
        else
            $(".msgLogOn .loading").slideDown(200).animate({ opacity: 1 }, 300);
    }

</script>

