@{
    ViewBag.Title = "Panel";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
}

@section pageheader
{
    <div class="pageicon pull-left">
        <i class="fa fa-home"></i>
    </div>
    <div class="media-body">
        <ul class="breadcrumb">
            <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
            <li><a href="">Pages</a></li>
            <li>Blank Page</li>
        </ul>
        <h4>Blank Page</h4>
    </div>
}

<h1>Test</h1>
<img src="http://4.bp.blogspot.com/-RGoiWTBV384/U2V5aTPN_nI/AAAAAAAAACE/paTiuDAaezQ/s1600/BlackWelcome.gif" height="200" width="800"/>
