
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
}

@section pageheader
{
    <div class="pageicon pull-left">
        <i class="fa fa-home"></i>
    </div>
    <div class="media-body">
        <h4>Error</h4>
    </div>
}

<h1>Error al procesar la solicitud</h1>